main {
  font-family: "Source Sans Pro", sans-serif !important;
}

main .hr {
  border-bottom: 1px solid #dee2e6;
  width: 100%;
}

main header {
  background: #fafafa;
}

main header .logo img {
  width: 50%;
}

main header .search_box input {
  border: none;
  background: #fff;
  height: 49px;
  border-radius: 2px;
}

main header .search_box .input-group-append {
  width: 75px;
  height: 49px;
}

main header .search_box .input-group-append span {
  background-color: #be9c53;
}

main header .search_box .input-group-append span img {
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .bayi {
  width: 130px;
  height: 49px;
  border-radius: 2px;
  border: solid 1px #4f6070;
  background-color: #ffffff;
}

main header .bayi i {
  color: #be9c53;
}

main header .bayi .bayi_bottom p {
  font-size: 11px;
  font-weight: normal;
  color: #9b9b9b;
}

main header .bayi .bayi_bottom p span {
  font-size: 12px;
  font-weight: bold;
  color: #565656;
}

main header .sepet {
  width: 80px;
  height: 49px;
  border-radius: 2px;
  background-color: #be9c53;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

main header .sepet i {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

main nav {
  background: #4f6070;
}

main nav .home {
  background-color: #be9c53;
}

main nav ul li {
  padding: 5px 10px;
}

main nav button span {
  color: white !important;
}

main nav a {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

main nav .firsat {
  width: 180px;
  height: 36px;
  border-radius: 4px;
  background-color: #52cfde;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

main section h6 {
  font-size: 16px;
}

main section nav {
  background: none !important;
}

main section nav ol {
  background: none !important;
}

main section nav ol i {
  color: #aaaaaa !important;
}

main section nav ol li:first-child a {
  color: #aaaaaa !important;
  font-weight: normal !important;
}

main section .product_one {
  position: relative;
}

main section .product_one .search_button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

main section .product_small p {
  margin: 7px 0;
}

main section .product_small .product_small_box {
  width: 80px;
  height: 81px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 5px;
}

main section .product_information .product_explain {
  font-size: 20px;
  width: 287px;
  line-height: normal;
}

main section .product_information .product_code {
  font-size: 12px;
  color: #828282;
}

main section .product_information .other_product {
  white-space: nowrap;
  font-size: 12px;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

main section .product_information .other_product a {
  text-decoration: none;
  color: #be9c53 !important;
}

main section .product_information .price {
  font-size: 21px;
  font-weight: 300;
  color: #9b9b9b;
}

main section .product_information .price span {
  font-size: 21px;
  font-weight: bold;
  color: #4f6070;
}

main section .product_information .rate i {
  color: #4f6070;
  font-size: 12px;
  padding: 1px;
}

main section .product_information .rate .pasif i {
  color: #ececec;
}

main section .product_information p {
  font-size: 10px;
  padding-top: 9px;
  color: #576162;
}

main section .product_information .normal {
  color: #4a4a4a !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

main section .share span {
  font-size: 12px;
  color: #576162;
}

main section .share .share_social img {
  margin: 0 2px;
  width: 20px;
  height: 20px;
}

main section .color_part .colors_box {
  width: 27px;
  height: 27px;
  border: solid 3px #ededed;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px;
}

main section .color_part .color_pink {
  background-color: #b39a91;
}

main section .color_part .color_brown {
  background-color: #4f3c35;
}

main section .color_part .color_pink_2 {
  background-color: #f4d6cb;
}

main section .color_part .color_grey {
  background-color: #999999;
}

main section .color_part .color_dark {
  background-color: #303030;
}

main section .color_part .color_green {
  background-color: #8a9d85;
}

main section .color_part .color_orange {
  background-color: #f28b65;
}

main section .color_part .color_light_brown {
  background-color: #ae8a7d;
}

main section .sizes .size {
  margin: 0 5px;
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  font-size: 11px;
}

main section .sizes .active {
  border: solid 1px #be9c53;
}

main section .information .counter {
  border: solid 1px #e2e2e2;
  color: #576162;
  font-size: 12px;
  width: 80px !important;
  border-radius: 2px;
  height: 40px;
  position: relative;
}

main section .information .counter .minus_plus {
  position: absolute;
  top: 0;
  right: 0px;
  border-left: 1px solid #e2e2e2;
}

main section .information .counter .minus_plus .plus {
  border-bottom: 1px solid #e2e2e2;
}

main section .information input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main section .information .sepet {
  width: 180px;
  height: 40px;
  border-radius: 2px;
  background-color: #be9c53;
  font-size: 16px;
  color: white;
}

main section .information .sepet i {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

main section .information .buy {
  background-color: #4f6070;
}

main section .information .like p {
  width: 80px;
  height: 40px;
  background: #e2e2e2;
  -o-object-fit: contain;
     object-fit: contain;
}

main section .information .like p i {
  color: #4f6070;
}

main section .product_property ul {
  border: 0 !important;
}

main section .product_property ul li a {
  border: solid 1px #f0f0f0 !important;
  font-size: 16px;
  color: #bbbbbb;
  border-radius: 0 !important;
}

main section .product_property ul li .active {
  font-weight: 600;
  border-bottom: 0 !important;
}

main section .product_property .tab-pane {
  border-top: 0 !important;
  padding: 30px;
  color: #bbbbbb;
  border-right: solid 1px #f0f0f0 !important;
  border-left: solid 1px #f0f0f0 !important;
  border-bottom: solid 1px #f0f0f0 !important;
}

main section .product {
  background: white;
  color: black;
  height: 450px;
  border: 1px solid rgba(192, 192, 192, 0.41);
  position: relative;
  margin-bottom: 15px;
}

main section .product .product_information p {
  font-size: 16px;
  font-weight: 300;
  color: #9b9b9b;
}

main section .product .product_information p span {
  font-size: 16px;
  font-weight: bold;
  color: #fe6f61;
}

main section .product .shop_bag {
  background-color: #be9c53;
  color: white;
  border: solid 1px var(--white);
  border-radius: 50% 50% 0 0;
  padding-right: 3px;
  position: absolute;
  bottom: -1px;
  right: 43%;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .product .shop_bag .img_sepet {
  width: 23px;
  height: 20px;
}

main section .product .star {
  color: #9b9b9b;
  position: absolute;
  top: 2%;
  left: 5%;
}

main section .product .new {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 2px;
  background-color: #4f6070;
  position: absolute;
  left: 3%;
  bottom: 2%;
  padding: 3px 10px;
}

main section .product .sale {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 2px;
  background-color: #be9c53;
  position: absolute;
  right: 3%;
  bottom: 2%;
  padding: 3px 10px;
}

main section .product .search {
  position: absolute;
  right: 3%;
  display: none;
  top: 1.8%;
}

main section .product .hover_top {
  opacity: 0.8;
  height: 80px;
  z-index: 99;
  background: white;
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
}

main section .product:hover .search {
  display: block;
}

main section .product:hover .hover_top {
  display: block;
}

main section .product_list .product_information p span {
  font-size: 16px;
  font-weight: bold;
  color: #4f6070;
}

main section .products {
  background: #fbfbfb;
}

main section .products h3 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #4f6070;
  z-index: 555;
  position: relative;
}

main section .products h3:before {
  content: "";
  display: block;
  width: 38%;
  height: 1px;
  background-color: #c0c0c0;
  position: absolute;
  opacity: 0.41;
  left: 0;
  top: 50%;
}

main section .products h3:after {
  content: "";
  display: block;
  width: 38%;
  height: 1px;
  opacity: 0.41;
  background-color: #c0c0c0;
  position: absolute;
  right: 0;
  top: 50%;
}

main section .products .product_row {
  position: relative;
}

main section .products .product_row .left_button {
  position: absolute;
  top: 45%;
  left: -0.4%;
}

main section .products .product_row .right_button {
  position: absolute;
  top: 45%;
  right: -0.4%;
}

main section .social .social_media h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #4a4a4a;
}

main section .social .social_media .social_information {
  font-size: 15px;
  text-align: center;
  color: #918f8f;
}

main section .social .social_media .social_logo {
  color: #4a4a4a;
  width: 44.3px;
  height: 44.3px;
  border-radius: 50%;
  border: 2px solid #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  position: relative;
}

main section .social .social_media .social_logo i {
  position: absolute;
  top: 25%;
  right: 40%;
  font-size: 20px;
  width: 12.6px;
  height: 23.2px;
}

main section .social .whatsapp h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #4a4a4a;
}

main section .social .whatsapp .whatsapp_information {
  font-size: 15px;
  text-align: center;
  color: #918f8f;
}

main section .social .whatsapp .whatsapp_phone {
  white-space: nowrap;
}

main section .social .whatsapp .whatsapp_phone i {
  color: #7ad06d;
  font-weight: bold;
  font-size: 45px;
}

main section .social .whatsapp .whatsapp_phone span {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
}

main section aside #accordion {
  width: 280px !important;
}

main section aside #accordion .card .card-header {
  background-color: white !important;
  font-size: 15px;
  position: relative;
  border-bottom: 0;
  border-top: 0;
  padding: 5px 3px;
}

main section aside #accordion .card .card-header h5 button {
  font-size: 16px;
  font-weight: 600;
  color: #576162;
  text-decoration: none;
}

main section aside #accordion .card .card-header span {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 30%;
}

main section aside #accordion .card .card-body {
  border: 0 !important;
  padding: 7px;
}

main section aside #accordion .card .card-body p {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}

main section aside #accordion .card .card-body .sizes .size {
  margin: 0 2px;
  padding: 10px 5px;
}

main section aside #accordion .card .card-body .sizes .active {
  border: solid 1px #be9c53;
}

main section aside #accordion .card .card-body .border_color {
  border: solid 1px #e5e5e5;
  border-radius: 50%;
  padding: 2px;
}

main section aside #accordion .card .card-body .border_color_active {
  border-radius: 50%;
  padding: 2px;
  border: solid 1px #be9c53;
}

main section aside #accordion .price_button button {
  padding: 10px 15px;
  border-radius: 2px;
  background-color: #4f6070;
  color: white;
  font-size: 16px;
}

main section aside #accordion_2 .card-header {
  font-size: 15px;
  padding: 0 !important;
  color: #576162;
}

main section aside #accordion_2 .card-body ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 2.43;
  color: #818181;
}

main section .product_top .form-group .form-control {
  font-size: 12px;
  color: #aaaaaa;
}

main section .product_top .form-group .form-check {
  font-size: 12px;
  color: #aaaaaa;
}

main section .product_top .form-group .form-check label {
  padding-top: 6px;
}

main section .paging .page {
  border: 1px solid #979797;
  font-size: 16px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #4a4a4a;
  padding-top: 2px;
}

main section .paging .active {
  font-weight: 600;
  border: solid 1px #576162;
}

main section .paging p {
  font-size: 14px;
  text-align: center;
  color: #4a4a4a;
}

main footer .footer_top .footer_categories h4 {
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
}

main footer .footer_top .footer_categories ul {
  padding: 0;
  margin: 0;
}

main footer .footer_top .footer_categories ul li {
  font-size: 14px;
  font-weight: normal;
  line-height: 3.5;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

main footer .footer_top .footer_categories ul li a {
  text-decoration: none;
  color: #918f8f;
}

main footer .footer_top .footer_categories i {
  padding-right: 6px;
  color: #be9c53;
  font-size: 15px;
}

main footer .footer_top .footer_categories .adress {
  line-height: 2 !important;
}

main footer .footer_copyright p {
  font-size: 12px;
  line-height: 1.42;
  color: #918f8f;
}

@media screen and (max-width: 500px) {
  .product {
    text-align: center;
  }
  .product img {
    width: 75% !important;
  }
  .product .shop_bag .img_sepet {
    width: 18px !important;
    height: 15px !important;
  }
  .social .whatsapp .whatsapp_phone span {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 575px) and (min-width: 500px) {
  header img {
    width: 75% !important;
  }
  .product {
    text-align: center;
  }
  .product img {
    width: 60% !important;
  }
}

@media screen and (max-width: 992px) {
  section .products h3:before {
    content: "";
    width: 28% !important;
  }
  section .products h3:after {
    width: 28% !important;
  }
}

@media screen and (max-width: 768px) {
  .products h3:before {
    display: none !important;
  }
  .products h3:after {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */